*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: #b0b0b0;
}
#principal{
    display: flex;
    justify-content: center;
}
#pantalla{
    height: 270px;
    width: 270px;
    border-radius: 5px;
    border-style: solid;
    border-color: #b0b0b0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.casilla{
    height: 50px;
    width: 50px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: #b0b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1268e9;
    font-weight: bold;
    background-color: #dadada;
}
#interfaz{
    margin-left: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #b0b0b0;
    padding: 10px 10px 10px 10px;
    color: #838383;
}
#interfaz p{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #838383;
}
#jugador-nombre{
    margin-bottom: 50%;
}
.boton-cerrar{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}
.jugadores{
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.top-jugadores{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    margin-top: 5px;
    border-radius: 10px;
    width: 50vh;
    border-color: #838383;
    background-color: #d4d3d3;
    color: #838383;
}
.top-jugadores h3, .top-jugadores h4, .top-jugadores p{
    display: flex;
    align-items: center;
    margin: 0;
    height: 30px;
    color: #838383;
} 

